*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}   
.y{
    height: 18px;
    width: 20px;
}
.items img{
    width: 1.5%;
}
.items{
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
}
.items a{
    text-decoration: none;
}

.ls{
    height: 10px;
    width: 10px;
    cursor: pointer;
}



.footer{
    background-color: #ffe4e4;
}
footer{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.name h1{
    color: red;
}

.name input{
    margin-top: 10px;
    width: 100%;
    padding: 5px 0px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    color: #060606;
    font-size: medium;
}

.name button{
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact{
    display: flex;
    flex-direction: column;
}

.contact h1{
    color: red;
}

.contact h5{
    margin-bottom: 5px;
}

.cont{
    margin-top: 10px;
}

.about{
    display: flex;
    flex-direction: column;
}
.about h1{
    color: red;
}

.links-ab{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 3px;
}
.links-ab a{
    color: black;
    text-decoration: none;
    font-size: small;
}

.social{
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}
.social a{
    text-decoration: none;
    color: black;
    font-size: larger;

}